# Dependencies
node_modules/
*/node_modules/

# Logs
logs/
*.log
log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
out/

*.tsbuildinfo

# Env
.env
.env.*.local

# Operating System files
.DS_Store
Thumbs.db

# IDE Config
.vscode/
.idea/
*.swp